@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center ">
    <h1 class="display-4 my-4">Welcome</h1>
     <a class="btn btn-info" asp-controller="Department" asp-action="Index">Show all departments</a>
</div>
