@model DepartmentViewModel;
@{
    ViewData["Title"] = "Delete";
}
<h1 class="my-3 text-center">Delete Department</h1>
<div  asp-validation-summary="All">

</div>
<form asp-action="Delete" >
<div >
   <partial name="Partial/_DepartmentDetailsDeletePartialView"></partial>
    <a  class="btn btn-dark text-white" asp-action="Index">Cancel</a>
    <input type="submit" class="btn btn-danger text-white" value="Delete"></input>
</div>    
</form>
