
@{
    ViewData["Title"] = "CheckYouInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center flex-column align-items-center shadow-lg  py-5">
       <div>
           <p>Go To Your Email </p>
       </div>
       <div>
           <a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-danger">Your Inbox</a>
       </div>
</div>