@model ForgetPasswordViewModel;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class=" d-flex justify-content-center align-items-center p-5  " >
	<form  asp-action="ForgetPassword" class="w-75 shadow-lg p-5" >
			<label asp-for="Email">Email</label>		  
			<input  asp-for="Email" class="form-control "/>
			<input type="submit" class="btn btn-info mt-5" value="Send Email" />
	</form>
</div>
